# Virtual Environment
myvenv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

audio_transcription.txt